
.form-control{
  position: relative;
	display: block;
	width: 280px;
	height: 45px;
	border: 0;
	outline: 0;
	top: -2px;
	padding: 0 0 0 20px;
	font-weight: 700;
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color: #2c2c2c;
  margin: auto;
  
}

th {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: left;
}
td {
  padding: 10px;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #E8E6D1;
}
.left{
    float: left;
    margin-right: 30px;
}

.tabs h2 {
    text-align: center;
    font-family: "Montserrat";
    color: #0523cf;
    font-weight: bold;
    padding: 10px 0 0 0;
    margin: 0;
  }
  
  .tabs {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    background: white;
    padding: 50px;
    padding-bottom: 80px;
    width: 72%;
    height: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    min-width: 240px;
  }
  .avtiv {
    font-family: "Montserrat";
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #808080;
  }
  .avtiv:hover{
    color: #428bff;
  }
  .tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .shine-button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #fe6637;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #fe6637;
    transition: .2s ease-in-out;
  }
  .shine-button:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }
  .shine-button:hover {
    background: #fe6637;
    color: #fff;
  }
  .shine-button:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
  }

  .floating-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: rgb(218, 218, 218);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    position: absolute;
    right: 0;
    margin-right: 60px;
  }
  .floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
  }

  .ingrs {box-sizing: border-box;}
  .form {
    position: relative;
    width: 300px;
    margin: 0 auto;
  }
  .input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
    font-size: 20px;
  }
  .button {
    position: absolute; 
    top: 2px;
    right: -15px;
    width: 42px;
    height: 44px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 15px;
    color: #F9F0DA;
  }

  #select-box1{
    cursor: pointer;
    position : relative;
    max-width:  10em;
    margin-top: 10px;
    margin-left: 370px;
    width: 100%;
    padding: 2px;
    font-family: Sanchez;
  }
  