{% extends "modul/home.html" %}

{% block content %}
<h2>Position</h2>
              <table>
                <tr>
                    <th>Должности</th>
                </tr>
                {% for position in positions %}
                    <tr>
                        <td> {{ position.Position }}</td>
                        <td>
                            <a href="{% url 'positionupdate' position.id %}" class="shine-button">Редактировать</a>
                        </td>
                        <td>
                            <form id="delete_form" action="{% url 'positiondelete' position.id %}" method="post">{% csrf_token %}
                                <button type="submit" class="shine-button">Удалить</button>
                            </form>
        
                        </td>
                    </tr>
                {% endfor %}
            </table><br>
        
        <a href="{% url 'createposition' %}" class="floating-button">Добавить</a>
{% endblock %}