{% extends "modul/home.html" %}
{% block content %}
<h2>Production</h2>
    <table cellpadding="4" cellspacing="1">
      <tr>
          <th>Продукт</th>
          <th>Количество</th>
          <th>Дата</th>
          <th>Сотрудник</th>

      </tr>
      {% for production in productions %}
          <tr>
            <td> 
                {{ production.Product.Product }}
            </td>
            <td> 
                {{ production.Amount }}
            </td>
            <td> 
                {{ production.Date }}
            </td>
            <td> 
                {{ production.Employee.Full_name }}
            </td>
              <td>
                  <a href="{% url 'productionupdate' production.id %}" class="shine-button">Редактировать</a>
              </td>
              <td>
                  <form id="delete_form" action="{% url 'productiondelete' production.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="shine-button">Удалить</button>
                  </form>
              </td>
          </tr>
          {% endfor %}
  </table><br>

<a href="{% url 'createproduction' %}" class="floating-button">Добавить</a>
{% endblock %}